@font-face {
    font-family: 'BrownBagLunch';
    src: url('../font/BrownBagLunch.eot');
    src: local('BrownBagLunch'),
        url('../font/BrownBagLunch.eot?#iefix') format('embedded-opentype'),
        url('../font/BrownBagLunch.woff2') format('woff2'),
        url('../font/BrownBagLunch.woff') format('woff'),
        url('../font/BrownBagLunch.ttf') format('truetype'),
        url('../font/BrownBagLunch.svg#BrownBagLunch') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}